{% extends "layout.html" %}

{% block content %}

<form action="/delete_secret_message" method="post">
    <p>Minkä kommentin haluat poistaa?</p>
    {% for secret_message in msgs %}
    <input type="radio" name="secret_message" value="{{ secret_message.id }}"> Keskustelu: {{ secret_message[2] }}, viesti: {{secret_message.secret_message }} <br>
    {% endfor %}
    <p></p>
    <input type="submit" value="Poista">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>

    <p></p>
    <a href="/">Palaa etusivulle</a>


{% endblock %}