{% if session.user_id %}
Olet nyt kirjautunut sisään. 
<hr>
<hr>
{% for row in info %}
Keskustelualue: {{ row[0] }}
<p>
{% if row[1] == 0 %}
Keskusteluiden määrä: 0
{% else %}
Keskusteluiden määrä: {{ row[1] }}
{% endif %}
<p></p>
{% if row[2] == 0 %}
Viestien määrä: 0
{% else %}
Viestien määrä: {{ row [2] }}
<p>
Viimeisin viesti: {{ row[3].strftime("%d-%m-%Y %H:%M:%S") }}
{% endif %}

<p></p>
<hr>
{% endfor %}

Yksityiset keskustelualueet:
{% for yk in secret_t %}
{{ yk }}
{% endfor %}
<p>
<hr>

<a href="/new_message">Lähetä viesti</a> tai <a href="/new_conversation">aloita uusi keskustelu</a> 
<p>
<hr>
<hr>

Valitse keskustelu, jota haluat lukea:

<ul>
{% for convo in convos %}
<li><a href="/conversation/{{ convo.convo }}">{{ convo.convo }}</a>
{% endfor %}
</ul>
<hr>
<hr>

<a href="/search_messages">Etsi viestejä hakusanalla</a>
<hr>
<hr>
Poista <a href="/delete_message">viestejä</a> tai <a href="/delete_conversation">keskusteualueita</a> 
<hr>
<hr>
{% if session.user_role == 2 %}
<a href="/new_topic">Avaa uusi julkinen keskustelualue</a> tai <a href="/new_secret_topic">yksityinen keskustelualue</a>
<p></p>
<a href="/remove">Poista keskustelualue</a>
{% endif %}

<p> </p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}

Tervetuloa Tsoha-chattiin! 
<a href="/login">Kirjaudu sisään</a>
<p>
Uusi käyttäjä? Rekisteröidy tästä: <a href="/register">Rekisteröidy</a>
{% endif %}