{% if session.user_id %}
Olet nyt kirjautunut sisään. 
<hr>
{% for topic in topics %}
Keskustelualue: {{ topic[0] }}
<p>
Keskusteluiden määrä: {{ countc }}
<p>
Viestien määrä: {{ countm }}
Viimeisin viesti: {{ topic[2].strftime("%d.%m.%Y klo %H:%M") }}
<p>
{% endfor %}
<hr>
<a href="/new_message">Lähetä viesti</a>, <a href="/new_conversation">aloita uusi keskustelu</a> tai <a href="/new_topic">avaa uusi keskustelualue</a>
<p> </p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
Tervetuloa Tsoha-chattiin! 
<a href="/login">Kirjaudu sisään</a>
<p>
Uusi käyttäjä? Rekisteröidy tästä: <a href="/register">Rekisteröidy</a>
{% endif %}