{% extends "layout.html" %}
{% block content %}

{% if session.user_id %}
    <hr>
    {%if info%}

        {% for row in info %}
        Keskustelualue: {{ row[0] }}
        <p></p>
        {% if row[1] == 0 %}
        Keskusteluiden määrä: 0
        {% else %}
        Keskusteluiden määrä: {{ row[1] }}
        {% endif %}
        <p></p>
        {% if row[2] == 0 %}
        Viestien määrä: 0
        {% else %}
        Viestien määrä: {{ row [2] }}
        <p></p>

        Viimeisin viesti: {{ row[3].strftime("%d-%m-%Y %H:%M:%S") }}
        {% endif %}

        <p></p>
        - - - 
        <p></p>
        {% endfor %}

        <hr>
        <hr>

        {% if session.user_role == 2 %}
            Ylläpitäjän toiminnot:
            <p></p>
            Avaa <a href="/new_topic"> uusi julkinen keskustelualue</a> tai <a href="/new_secret_topic">yksityinen keskustelualue</a>
            <p></p>
            Poista <a href="/remove"> julkinen keskustelualue</a> {% if secret_t: %} tai <a href="/remove_secret_topic"> yksityinen keskustelualue</a> {% endif %}
        {% endif %}

    {% else %}

        Ei vielä viestejä, keskusteluja tai keskustelualueita.
        <p></p>
        {% if session.user_role == 2 %}
            Ylläpitäjän toiminnot:
            <p></p>
            <a href="/new_topic">Avaa uusi julkinen keskustelualue</a> tai <a href="/new_secret_topic">yksityinen keskustelualue</a>
            <p></p>
        {% else %}
            Odota, että ylläpitäjä luo uuden keskustelualueen tai tee admin-tunnukset.
        {% endif %}

{% endif %}

<p> </p>
<a href="/logout">Kirjaudu ulos</a>

{% endif %}

{% endblock %}