{% extends "layout.html" %}
{% block content %}

<form action="/create_secret_topic" method="post">
    Uusi yksityinen keskustelualue: 
    <input type="text" name="secret_topic">
    <p></p>

    Keillä on pääsy alueelle?
    <p></p>
    <select name="users_list[]" multiple>
        <p></p>
        {% for user in users_list %}
        <option value="{{user.id}}">  ---  {{ user.username }}  --- </option>
        {% endfor %}
        <p></p>
    </select>
    <p></p>
    <p>Valitaksesi useampia käyttäjiä pidä pohjaassa Ctrl-näppäintä</p>
    <p></p>
    <input type="submit" value="Luo uusi yksityinen keskustelualue">
    </form>

<p></p>
<a href="/">Palaa takaisin</a>

{% endblock %}