<form action="/send_message" method="post">
 Keskustelu, johon haluat kirjoittaa:<br>
    {% for convo in convos %}

    <input type="radio" name="convo" value="{{ convo.convo }}"> {{ convo.convo }} <br>
        
    {% endfor %}

    {% for secret in secret_t %}

    <input type="radio" name="secret" value="{{ secret[0] }}"> {{ secret[0] }} <br>
        
    {% endfor %}

    Uusi viesti: <br>
    <textarea name="content" rows="5" cols="50"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>

    <p>
    <a href="/">Palaa takaisin</a>