{% extends "layout.html" %}

{% block content %}

Keskustelu: {{ convo_conversation }}

<form action="/send_message" method="post">

    Uusi viesti: <br>
    <p></p>

    <textarea name="content" rows="5" cols="50"></textarea>
    <br>
    <input type="hidden" name="convo" value="{{ convo_conversation }}">
    <input type="submit" value="Lähetä">
    </form>

    <p></p>
    
<hr>
{% for message in msgs %}
<i>Viesti:</i> {{ message[1] }}
<p>
<i>Lähettäjä:</i> {{ message[2] }}
<p>
<i>Aika:</i> {{ message[0].strftime("%Y-%m-%d %H:%M:%S") }}
<hr>
{% endfor %}



    <a href="/">Palaa etusivulle</a>


{% endblock %}